.roadmap_container{
    margin-top: 100px;
}
.card_roadmap{
    margin-top: 30px;
    min-height: 270px;
    border-radius: 40px;
    
}
.banner-body{
    margin-bottom: 0px;
    margin-top: 250px;
}
.roadmap-logo{
    font-size: 30px;
}
/*
.card-img-bottom{
    overflow: hidden;
} */