.card{
    min-height: 100px;
    width: 1700px;
    margin: auto;
}
.card-body{
    margin-top: 30px;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .card{
        min-height: 100px;
    width: 716px;
    margin: auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .card{
    min-height: 100px;
    width: 526px;
    margin: auto;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .card{
        min-height: 100px;
        width: 300px;
        margin: auto;
        }
  }